@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --navigation-height: 4.8rem;
}

body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}

form {
  width: 100%;
}


@layer base {
  html {
    font-family: "DM Sans", sans-serif !important;
    font-feature-settings: "kern" !important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.5px;
  }
}

input.defaultCheckbox::before {
  content: url(/svg/checked.svg);
  color: white;
  opacity: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}

input:checked.defaultCheckbox::before {
  opacity: 1;
}

.box-shadow-card {
  box-shadow: 0 5px 15px rgba(0,0,0,0.07);
}

.pie-chart {
	background: 
		radial-gradient(
			circle closest-side,
			transparent 66%,
			white 0
		),
		conic-gradient(
			#64748b66 0,
			#64748b66 38%,
			#78716c22 0,
			#78716c22 61%,
			#73737344 0,
			#73737344 77%,
			#eeeeee 0,
			#eeeeee 87%,
			#71717a88 0,
			#71717a88 93%,
			#6b728022 0,
			#6b728022 100%
	);
  height: 260px;
  z-index: -1;
  width: 366px;
}



#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #3b82f6; 
  --gradient-color-2: #0ea5e9; 
  --gradient-color-3: #06b6d4;  
  --gradient-color-4: #6366f1;
  z-index:0;
}